html body {
  width: 100%;
  height: 100%;
  background: #1E1E24;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Mina', sans-serif;
}

div.linguine-label {
  border: 1px solid gray;
  width: 400px;
  margin: 40px auto;
}